:root {
  --bg-color: white;
  --bg-color-dark: #030303;
  --bg-color-primary: #3366ee;
  --bg-color-secondary: #dadada;

  --color: black;
  --link-color: #3366ee;
  --color-dark: white;
  --link-color-dark: #80a0f6;

  --ff-serif: 'Source Serif Pro', serif;
  --ff-sans: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* this is toggled in src/App.tsx:
  transition: background-color 250ms ease; */
  background-color: var(--bg-color);
  font-size: 20px;
  font-family: var(--ff-sans);
}

html[data-theme="dark"] {
  background-color: var(--bg-color-dark);
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: 'Source Serif Pro', sans-serif;
}

.pill {
  border-radius: 20%/50%;
}

.fade-in {
  opacity: 1;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding-block: .2em;
  padding-inline: .5em;
  transition: background-color 150ms;
  border: none;
  border-radius: .3em;
  color: var(--color);
}

.button:hover {
  filter: brightness(1.1);
}

.button.primary {
  background-color: var(--bg-color-primary);
  color: var(--color-dark);
}

.button.secondary {
  background-color: var(--bg-color-secondary);
}

[data-theme="dark"] .button.secondary {
  background: none;
  box-shadow: inset 0 0 0 .05em var(--bg-color-secondary);
  color: var(--color-dark);
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: var(--bg-color-primary);
}

[data-theme="dark"] .link {
  color: var(--link-color-dark);
}

.link:hover {
  text-decoration: underline;
}